h1 {
    color: black;
    background-color: pink; 
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding-left: 230px;
    padding-right: 200px;
    border-radius: 10px;
}
#uno{
    text-decoration: underline;
}

#dos {
    color: black;
    background-color: pink;
    font-size: 20px;
    text-decoration: none; 
    font-family: Arial, Helvetica, sans-serif;
    display: block;
}

h2 {
    font-family: 'Georgia', serif;
    color: black;
    text-decoration: underline;
}
.R1 {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    margin-left: 20px;
    font-size: 16px;

}

#contenido{
    display: block;
    flex-direction: column;
    align-items: center;
    float: left;
}

#donjasho{
    width: 220px;
    height: auto;
    margin-right: 15px;
}


.sub{
  font-family: Verdana, sans-serif;
  
  font-size:12px;
  color: black;
  text-align: center;
  margin-top: 5px;
  margin-right: 20px;
  margin-left: 5px;
}

p{
    font-family: 'Verdana', sans-serif;
    color: black;
    text-align: center;
    padding: 10px;
    background-color: bisque;
    border-radius: 8px;
}

#contenido1{
    display: block;
    font-family: 'Lucida Console', Monaco, monospace;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    font-size: 14px;
    margin-left: 240px;
    margin-right:31px;
    margin-bottom: 45px;
}

footer{
    background-color: pink;
    color: black;
    text-align: center;
    padding: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-top: 40px;
    border-radius: 8px;
}